/*Esta opción me permite quitar los estilos automáticos que se generan con una página web*/
* {
    box-sizing: border-box; /*Esta propiedad permite quitar el tamaño de padding y border al width, para no tener scroll*/
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}